<h2><% title(@post.title, @post.category) %></h2>
<div id="post">
	<h3><%= link_to @post.title, @post.source %></h3>
	<span id="author">By <%= link_to @post.user.name, user_path(@post.user) %></span>
</div>
